<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shankar.udemykotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UdemyKotlin">
        <activity android:name=".firebase.FirebaseRecyclerActivity"></activity>
        <activity
            android:name=".animation.AnimationActivity"
            android:theme="@style/AnimationTheme"></activity>
        <activity android:name=".firebase_ml.FaceDetection" />
        <activity android:name=".firebase_ml.ImageLabeling" />
        <activity android:name=".firebase_ml.BarcodeScanner" />
        <activity android:name=".firebase_ml.TextRecognition" />
        <activity android:name=".firebase_ml.MachineLearning">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".book_store.ProfileActivity"
            android:theme="@style/BookStore.NoActionBar" />
        <activity
            android:name=".book_store.BookStoreActivity"
            android:theme="@style/BookStore.NoActionBar" />
        <activity android:name=".firebase.AuthenticationActivity" />
        <activity android:name=".firebase.FirebaseActivity" />
        <activity android:name=".music_player.MusicPlayerActivity" />
        <activity android:name=".dairy_app.DairyActivity" />
        <activity android:name=".dairy_app.NewDiaryActivity" />
        <activity android:name=".advanced_constraint.AdvancedConstraint" />
        <activity android:name=".fitness_app.FitnessActivity" />
        <activity android:name=".ConstraintLayout" />
        <activity android:name=".advanced_Kotlin.AdvancedKotlin" />
        <activity android:name=".dictionary_app.DictionaryActivity" />
        <activity android:name=".dictionary_app.DefinitionActivity" />
        <activity android:name=".ExceptionHandling" />
        <activity android:name=".Functions" />
        <activity android:name=".CalculatorActivity" />
        <activity android:name=".FunctionsActivity" />
        <activity android:name=".number_list.NumberListActivity" />
        <activity android:name=".ControlFlows" />
        <activity android:name=".ViewBindingActivity" />
        <activity android:name=".WidgetPractice" />
        <activity android:name=".DiceApp" />
        <activity android:name=".ComparisonOperators" />
        <activity android:name=".DataTypes" />
        <activity android:name=".BmiActivity" />
        <activity android:name=".news_app.NewsActivity" />
        <activity android:name=".book_store.AboutActivity" />
        <activity android:name=".animation.PlaceHolderExample" />
        <activity android:name=".animation.CircularPositioning" />
        <activity android:name=".animation.FirstConstraintSet" />
        <activity android:name=".animation.SecondConstraintSet" />

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr, face" />
    </application>

</manifest>